body{
	margin: 0 auto;
}
#form{
	margin: auto;
	text-align: center;
}
#container{
	width: 100%;
	height: 700px;
	background: pink;
	display: inline-block;
	text-align: center;
}
#grandeGrille{

	display: inline-block;
	width: 500px;
	height: 500px;
	margin: auto;
}
